:root {
  --bgwhite: #f2f2f2;
  --bggreen: #339e1bfa;
  --bodygray: #5a5959;
  --bodyblack: #000000;
  --bodywhite: #ffffff;
  --dropgray: #708090;
  --footergreen: #215208;
}

/*-------------------------------------Cart--------------------------------------*/
h2 {
  font-size: 20px;
}

.top {
  margin-top: 10%;
  padding: 15 px;
}

.menu {
  text-align: center;
  align-self: center;
}

.menu img {
  height: 100px;
}

.main,
.checkout {
  margin: auto;
}

.main-inner-container {
  border-top: 2px solid var(--bggreen);
  border-left: 2px solid var(--bggreen);
  border-right: 2px solid var(--bggreen);
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  margin: auto;
  width: 70%;
}

.your-order {
  border: 2px solid var(--bggreen);
  height: 233px;
  float: left;
  margin: auto;
  width: 62%;
}

.cart-items {
  border-bottom: 2px solid var(--bggreen);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 150px;
}

.outer-cart {
  border-top: 2px solid var(--bggreen);
  float: left;
  width: 100%;
}

.inner-cart {
  float: right;
  margin-top: 10px;
  width: 40%;
}

.checkout-button {
  margin: 5%;
  text-align: center;
}

.your-order-span {
  display: flex;
  font-weight: bold;
  justify-content: centre;
  margin-left: 35%;
  margin-top: 16px;
}

.heading_name {
  text-align: center;
}

.book-button {
  background-color: var(--bggreen);
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.p_tag_header {
  line-height: 28px;
  margin-top: 12px;
}

@media all and (max-width: 600px) {
  .your-order-span {
    display: flex;
    justify-content: centre;
    font-weight: bold;
    margin-left: 30%;
  }

  .main-inner-container {
    border: 2px solid var(--bggreen);
    border-radius: 3px;
    margin-bottom: 20px;
    width: 65%;
  }

  .cart-items {
    border-bottom: 2px solid var(--bggreen);
    display: grid;
    grid-template-columns: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
  }

  .top {
    margin-top: 35%;
  }

  .main-outer-container {
    grid-template-columns: 100%;
  }
}

@media all and (max-width: 926px) and (min-width: 601px) {
  .your-order {
    border: 2px solid var(--bggreen);
    grid-template-columns: repeat(1, 1fr);
    margin: 5% auto;
    width: 233px;
    height: 231px;
  }
  .checkout-button {
    margin-left: 30%;
    margin-top: 15%;
  }

  .main-inner-container {
    width: 92%;
    margin: auto;
  }

  .your-order-span {
    display: flex;
    justify-content: centre;
    font-weight: bold;
    margin-left: 33%;
  }

  .top {
    margin-top: 25%;
  }
}
