:root {
  --bodyblack: #000000;
  --bodywhite: #ffffff;
  --offwhite: #ddd;
  --themegreen: #339e1bfa;
  --bodygraydark: #5a5959;
  --bodygraylight: #708090;
  --btn-hover: #adb9aaba;
  --dropdowncolor: #e6e6e6;
  --bgwhite: #f2f2f2;
  --themegreen: #339e1bfa;
  --bodygray: #5a5959;
  --footergreen: #215208;
  --disablegreen: #94cd88fa;
  --fontfamily: sans-serif;
  --red: #ff0000;
}

body{
  font-family: var(--fontfamily);
  font-size: 16px;
}

input[type=submit],button{
  cursor: pointer;
  border: none;
  opacity: 0.9;
}

input[type=submit]:hover,button:hover{
  opacity: 1;
}

.outer-container{
  display: grid;
  grid-template-rows: auto;
  width: 490px;
  border: 2px solid var(--bodyblack);
  border-radius: 5px;
  box-shadow: 2px 2px var(--dropgray);
  margin: 80px auto;
}

.inner-container{
  padding-left: 20px;
}

.inner-container label{
  display: block;
  text-align: left;
  margin-left: 108px;
}

.form-main, .form{
  text-align: center;
}

.inner-container a:hover, .inner-container a:active{
  color: var(--bodygray);
}

.inner-container a{
  color: var(--themegreen);
  margin-top: 10px;
}

/* ----------------------------------Input------------------------------ */

input[type=password],input[type=email],input[type=number]{
  margin-bottom: 25px;
  width: 50%;
  padding: 10px;
  border: none;
  background: var(--bgwhite);
}

input[type=password]:focus,input[type=email]:focus,input[type=number]{
  outline: none;
}

input[type=submit], .button{
  background-color: var(--themegreen);
  color: var(--bgwhite);
  padding: 15px 30px;
  margin: 10px auto;
  display: block;
}

input[id="submit"]:disabled{
  background-color:var(--disablegreen);
  cursor: not-allowed;
  border:none;
}

/* -----------------Validation-------------------- */
.fa-eye,.fa-eye-slash{
  right: 560px;
  top: 365px;
  opacity: .6;
  position: absolute;
  cursor: pointer;
} 

.pass-instructions{
  display: none;
}

.valid {
  color: var(--themegreen);
}

.valid:before {
  content: "✔";
}

.invalid {
  color: var(--red);
}

.invalid:before {
  content: "✖";
}

.password-specs {
  margin-bottom: 16px;
  border: 1px solid var(--bodyblack);
  border-radius: 7px;
  width: 300px;
  display: inline-block;  
  padding: 4px;
}

.password-specs p{
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
  font-size: 14px;
}

.password-specs span{
  text-align: left;
  font-size: 14px;
  margin-left: 50px;
  display: block;
}

#reset-error, #otp-verify, #error-message{
  padding: 10px;
  color: var(--red);
}
