:root {
    --bgwhite: #f2f2f2;
    --bggreen: #339e1bfa;
    --bodygray: #5a5959;
    --bodyblack: #000000;
    --bodywhite: #ffffff;
    --dropgray: #708090;
    --footergreen: #215208;
  }
  .header_container{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr,2fr,1fr;
      border: 10px  var(--bodyblack);
      background-color: var(--bodyblack); 
      border-radius: 5px 5px 5px 5px;
  }
  

a{
    text-decoration: none;
    padding:5px 0 0 0 ;
}

a:hover, a:active{
    color: blue;
}




.container{
    height: 380px;
    width: 450px;
    border: 2px solid var(--bodyblack);
    border-radius: 5px;
    box-shadow: 2.5px 2.5px var(--dropgray);
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}


.inner-container{
    margin-left: 40px
}

.form{
    margin-top: 28px;
    margin-left:95px;
}

input{
    width: 277px;
    height: 30px;
    margin-bottom: 34px;
    display: block;
    font-size: 16px;
}


.new-pass{
    display:block;
    font-family:system-ui;
}
.confirm{
    display:block;
    font-family:system-ui;
}
.heading{
    font-family:system-ui;
}
.fonf{
    font-family:system-ui;
    font-size: 13px;
}

input[type=text], input[type=password] {
  width: 50%;
  height: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background:var(--bgwhite);
  font-family:system-ui;
}

input[type=text]:focus, input[type=password]:focus {
  background-color:var(--bgwhite);
  outline: none;
  font-family:system-ui;
}

button:hover {
  opacity:1;
}

button {
  background-color: var(--bggreen);
  color: var(--bgwhite);
  padding: 14px 20px;
  margin: 8px 0 0 20px;
  border: none;
  cursor: pointer;
  width: 150px;
  opacity: 0.9;
  font-family:system-ui;
}
