:root{
    --bodyblack: #000000;
    --bodywhite: #ffffff;
    --bodygraylight: #708090;
    --btn-hover: #adb9aaba;
    --dropdowncolor: #e6e6e6;
    --shadowcolor: rgba(0, 0, 0, 0.2);
    --fontfamily: sans-serif;
    --bodyfontsize: 15px;
    --lightgray: #55585E;
    --darkgray: #8390A2;
    --lightblue:#f3f4f6;
    --darkblue: #2e4a66;
    --grayblue: #f9fafc;
    --gray: #777;
    --themegreen: #339e1bfa;
    --verylightgray: #efefef;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fontfamily);
    box-sizing: border-box;
}

button{
    background-color: var(--bodywhite);
    border: none;
}

button:hover{
    cursor: pointer;
}

/*-------------------------------full-container----------------------------------*/

.container{
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: "sidebar nav nav nav"
                         "sidebar main main main"
}

/*-----------------------------------navigation bar-----------------------------------*/

.navbar{
    background: var(--bodywhite);
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid lightgrey;
}

.nav-icon{
    display: none;
}

.nav-icon > span{
    font-size: 26px;
    color: var(--lightgray);
}

.nav-left a{
    text-decoration: none;
    color: var(--lightgray);
    font-size: 20px;
    margin-right: 30px;
    font-weight: 700;
    margin-left: 10px;
}

.nav-left a:active{
    color: var(--btn-hover);
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px;
}

.nav-right{
    float: right;
}

.nav-right input{
    size: 10px;
    padding: 6px;
}

.nav-right button{
    color: var(--lightgray);
    font-size: 16px;
    border-radius: 50px;
    background-color: var(--bodywhite);
}

/*-----------------------------------------sidebar------------------------------*/

.sidebar{
    background: var(--darkgray);
    grid-area: sidebar;
    overflow-y: auto;
    padding: 15px;
}

.sidebar-header{
    object-fit: contain;
    background-color: var(--bodywhite);
}

.logo{
    width: 145px;
    height: auto;
}

.sidebar-button{
    list-style-type: none;
}

.sidebar-button li{
    margin-top: 10px;
}

.sidebar-button a{
    color: var(--bodyblack);
    font-size: 16px;
    padding: 0 10px;
    font-weight: 700;
    border: none;
    background-color: var(--darkgray);
    text-decoration: none;
}

.sidebar-button i{
    margin-right: 10px;
    font-size: 18px;
    color: var(--bodyblack);
    background-color: none;
    border: none;
}
/*------------------------------------main-container------------------------------*/

main{
    background-color: var(--lightblue);
    grid-area: main;
    overflow-y: auto;
}

.main-container{
    padding: 20px 50px;
}

/*-----------------------------------dash-cards-------------------------------------*/

.dash-title{
    font-size: 24px;
    color: var(--darkblue);
    margin-bottom: 5px;
}

.dash-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 20px 0;
}

.card-single{
    background: var(--bodywhite);
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px var(--shadowcolor);
}
.card-body{
    padding: 26px;
    display: flex;
    align-items: center;
}
.card-body span{
    font-size: 26px;
    color:var(--gray);
    padding-right: 18px;
}
.card-body .record {
    color: var(--lightgray);
    font-size: 14px;
    font-weight: 700;
}

.card-body .amount{
    font-size: 16px;
    font-weight: 700;
}

/*--------------------------------------Products-table------------------------------------*/

.activity-grid{
    margin-top: 20px;
}

.activity-card
{
    background: var(--bodywhite);
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px var(--shadowcolor);
    padding: 10px;
}
.activity-card h3{
    color:  var(--darkgray);
    margin: 16px;
}
.activity-card table{
    width: 100%;
    border-collapse: collapse;
}
.activity-card thead{
    background: var(--verylightgray);
    text-align: left;
}
th, td {
    font-size: 15px;
    padding: 16px 8px;
    color: var(--bodyblack);
}
td{
    font-size: 14px;
}
tbody tr:nth-child(even){
    background: var(--grayblue);
}

/*---------------------------------------Add/delete buttons----------------------------*/
.buttons{
    display: inline;
    float: right;
}
.book-button{
    color:var(--bodywhite);
    background-color: var(--darkgray);
    padding: 12px;
    border: none;
    cursor : pointer;
    font-size: 15px;
    border-radius: 3px;
    margin:10px 7px;
}

button:hover {
    background-color: var(--themegreen);
}


@media only screen and (max-width: 980px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
        "nav"
        "main";
    }

    .sidebar {
        display: none;
    }

    .nav-icon {
        display: inline;
    }
}


@media only screen and (max-width: 600px) {
    .searchbar{
        width: 70%;
    }

    .nav-left{
        width: 70%;
    }

    .dash-cards{
        grid-template-columns: 1fr;
    }
  
    .activity-card{
        width: 100%;
    }
}

@media all and (max-width: 400px){
    th, td {
        padding: 16px 2px;
    }

    td{
        font-size: 13px;
    }

    .activity-card h3{
        margin: 12px;
    }

    .activity-card{
        padding: 5px;
    }

    .book-button{
        padding: 9px;
        font-size: 14px;
    }

}
